@charset "utf8";
*{
	margin:0;
	padding:0;
}
/*公共样式*/
.top,.top2,.top3,.top4,.top5,.content
{
	width:1400px;
	margin:0 auto;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
/*top*/
.top{
	height:82px;
	background:url(../images/images/top_01.jpg)no-repeat;
	position:relative;
}

.top div{
	width:100px;
	height:25px;
	background:#d3a990;
	color:#743a22;
	position:absolute;
	left:1145px;
	top:31px;
}
.top div a{
	color:#743a22;
	font-size:19px;
	line-height:25px;
}
/*top2*/
.top2{
	height:30px;
}
.top2 .t1{
	height:30px;
	width:650px;
	float:left;
	padding-left:77px;
}
.top2 .t1 li{
	line-height:30px;
	float:left;
}
.top2 .t1 li a{
	color:#666666;
}
.top2 .t1 .t1-1{
	margin-left:34px;
	color:#666666;
	line-height:30px;
}
.top2 .t2{
	height:30px;
	width:580px;
	float:left;
}
.top2 .t2 li{
	line-height:30px;
	float:left;
	color:#666666;
}
.top2 .t2 a{
	color:#666666;
}
.top2 .t2 .t2-2{
	margin-left:10px;
}
.top2 .t2 .t2-3{
	margin-left:10px;
}
.top2 .t2 .t2-3 select{
	border:none;
}
.top2 .t2 .t2-4{
	margin-left:10px;
}
.top2 .t2 .t2-5 span{
	float:left;
	display:block;
	margin-left:10px;
}
.top2 .t2 .t2-5 img{
	float:left;
	margin:10px 0 0 10px;
}
.top6{
	width:38px;
	height:36px;
	position:fixed;
	left:1290px;
}
/*top3*/
.top3{
	height:110px;
}
.top3 .t3-1{
	width:580px;
	height:110px;
	float:left;
}
.top3 .t3-2{
	width:400px;
	height:110px;
	float:left;
}
.top3 .t3-2	form{
	width:348px;
	height:40px;
	margin-top:36px;
}
.top3 .t3-2 form input{
	width:266px;
	border:2px solid #c69c6d;
	color:#a9a9a9;
	float:left;
	line-height:34px;
}
.top3 .t3-2 form span{
	width:78px;
	background:#c69c6d;
	display:block;
	float:left;
	line-height:38px;
	font-size:14px;
	color:#fff;
	text-align:center;
}
.top3 .t3-2 ul li{
	float:left;
	line-height:34px;
	color:#a9a9a9;
	font-size:12px;
	margin-right:25px;
}
.top3 .t3-3{
	width:200px;
	height:75px;
	float:left;
	padding-top:35px;
	line-height:10px;
}
.top3 .t3-3 img{
	float:left;
}
.top3 .t3-3 span{
	display:block;
	float:left;
	margin:10px 0 0 10px;
	font-weight:900;
	color:#999999;
}
.top3 .t3-4{
	width:220px;
	height:110px;
	float:left;
}
.top3 .t3-4 div{
	width:96px;
	height:34px;
	padding-top:35px;
}
.top3 .t3-4 div b{
	color:red;
}
/*top4*/
.top4{
	height:38px;
	background:#1f1e1e;
	border-bottom:3px solid #cac9c9;
}
.top4 ul{
	height:38px;
	width:1000px;
	margin-left:95px;
	float:left;
	position:relative;
}
.top4 ul li{
	height:38px;
	width:90px;
	float:left;
	color:#c8a985;
	line-height:38px;
	text-align:center;
}
.top4 ul li:hover{
	background:#cf0101;
	color:#ffffff;
}
.top4 ul img{
	position:absolute;
	right:0;
	bottom:0;
}
.top4 div{
	height:38px;
	width:305px;
	float:left;
}
.top4 .top2 p{
	color:#fff;
	display:block;
	line-height:38px;
	float:left;
}
.top4 .top2 img{
	margin-top:8px;
	float:left;
	margin:8px 10px 0 10px;
}
/*top5*/
.top5{
	height:520px;
	background:url(../images/images/datu_02.jpg)
}
/*content*/
.content{
	height:121px;
	position:relative;
}
.content .t1{
	height:60px;
	margin:0 95px;
	border-bottom:1px solid #cfcfcf;
}
.content .t2{
	height:60px;
	width:1215px;
	margin:0 auto;
}

.content .t3{
	height:50px;
	width:230px;
	position:absolute;
	left:580px;
	top:20px;
	float:left;
	background:#fff;
}
.content .t3 span{
	font-size:37px;
	font-weight:900;
	color:#000;
	margin-left:40px;
}
.content .t3 p{
	font-size:20px;
	color:#000;
	margin-left:73px;
}
/*content1*/
.content1{
	height:345px;
	width:1215px;
	margin:0 auto;
}
.content1 div{
	float:left;
	height:330px;
	width:235px;
	margin-right:10px;
	background:url(../images/images/c1_03.jpg) no-repeat;
}
.content1 .c5{
	margin-right:0;
	background-position:-940px 0;
}
.content1 .c2{
	background-position:-245px 0;
}
.content1 .c3{
	background-position:-500px 0;
}
.content1 .c4{
	background-position:-705px 0;
}